.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

body {
    font-family: 'Open Sans Condensed';
    width: 100vw;
}

.nav-item {
    display: flex;
    align-items: center;
}

.row-content {
    margin: 0px auto;
    padding: 30px 0px 50px 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin: auto;
}


.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/wallpaper.jpeg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* min-height: 100vh; */
    min-width: 100vw;
    /* width: 100vw; */
    height: calc(100vh - 60px);
}

.darkbg {
    background-color: black;
    opacity: 0.7;
    color: white;
    size: 4rem;
}

table,
th,
td {
    border: 1px solid white;
}

table {
    min-width: 40%
}

.heading {
    margin-top: 70px;
}

.full {
    min-height: 100vh;
}

.Option {
    cursor: pointer;
}

.loading {
    min-height: 100vh;
}

.navbar {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}